$main-font: 'Mulish', serif; 

h3 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: #111111;
}

.title__project {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    color: #111111;
}

.project__content {
 font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #111111;
mix-blend-mode: normal;
opacity: 0.8;
}

.project__content2 {
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #111111;
mix-blend-mode: normal;
opacity: 0.8;

}

h4 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #111111;
    }
    
h5 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #111111;
    }
    
.genesis {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #111111;
    }
    
.trans {
    line-height: 26px;
    mix-blend-mode: normal;
    opacity: 0.6;
    
    }
    
.year {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #111111;
    }

.list {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.bold {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #111111;
}

.trans__project {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.5;
}
   